{% extends 'catalog/base_generic.html' %}

{% block content %}
  <h1>Titre : {{ book.title }}</h1>
  <p><strong>Auteur :</strong> <a href="#">{{ book.author }}</a></p>
  <p><strong>Résumé :</strong> {{ book.summary }}</p>
  <p><strong>ISBN :</strong> {{ book.isbn }}</p>
  <p><strong>Genre :</strong> {{ book.genre }}</p>
  <div style="margin-left: 20px; margin-top: 20px">
    <h4>Exemplaires</h4>
    {% for copy in book.bookinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'd' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
      {{ copy.get_status_display }}
    </p>
    {% if copy.status != 'd' %}
      <p><strong>à retourner le :</strong> {{ copy.due_back }}</p>
    {% endif %}
    <p><strong>Code exemplaire :</strong> {{ copy.imprint }}</p>
    <p class="text-muted"><strong>Identifiant :</strong> {{ copy.id }}</p>
    {% endfor %}
  </div>
{% endblock %}
