{% extends 'catalog/base_generic.html' %}
{% block title %}Bibliothèque | Maison{% endblock %}
{% block content %}
  <h1>Bibliothèque | Maison</h1>
  <p>Bienvenue à la <strong>Bibliothèque</strong> !</p>
  <h2>Contenu</h2>
  <p>La Bibliothèque dispose de :</p>
  <ul>
    <li><small><strong>{{num_books}} livres</strong> en <strong>{{ num_instances }} exemplaires</strong> dont <strong>{{ num_instances_available }} disponibles</strong></small></li>
    <li><small><strong>{{ num_authors }} auteurs</strong></small></li>
    <li><small><strong>et {{ num_genres }} genres littéraires.</strong></small></li>
  </ul>
{% endblock %}
