{% extends 'base.html.twig' %}

{% block title %}Velvet Records - Home{% endblock %}

{% block body %}

<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to <b>Velvet Records</b></h1>
    <p class="lead">
      Velvet Records is an application to manage a <em>record collection</em>.
    </p>
    <hr class="my-4">
      {% set route = app.request.attributes.get('_route')%}
      <p>Route: {{ route }}</p>
      <p>Press start to start!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="http://localhost:8000/artists" role="button">Start</a>
    </p>
  </div>
</div>
{% endblock %}
