{% extends 'base.html.twig' %}

{% block title %}Velvet Records - Add Record{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="row mb-2 align-items-center">
      <div class="col-md-8">
        <h1 class="display-4"><b>Add Record</b></h1>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-sm" onclick="history.back()">Back</button>
      </div>
    </div>
    {{ form(form) }}
    {{ form_end(form) }}
    <br>
    <div class="row">
      <div class="small">To add songs go to edit this album.</div>
    </div>
  </div>
{% endblock %}
